# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosysystem are summarized.

**Objectives**

* List libraries used by Data Scientists
* List popular languages in Data Science
* Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|-------|
|Git|
|Apache Subversion|
|IDE Eclipse|

### Below are examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
(200/60)

3.3333333333333335

## Author
ROLANDO DE ASIS